.listContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 25px;
  border-radius: var(--border-radius-main);
}

.iconContainer {
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.titleContainer {
  background-color: var(--main-color);
}

.todo {
  border: 5px solid var(--todo-color);
}

.inProgress {
  border: 5px solid var(--doing-color);
}

.done {
  border: 5px solid var(--done-color);
}
