.board_card {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-main);
  padding: 10px;
  height: 150px;
  width: 250px;
  position: relative;
}

.board_card p {
  margin: 10px;
}

.board_card p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.board_card::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 4px;
  height: 100px; /* Adjust as needed */
  border-radius: 10px;
}

[dir="ltr"] .board_card::before {
  left: 0;
}
[dir="rtl"] .board_card::before {
  right: 0;
}

.board_card.created::before {
  background: linear-gradient(to bottom, #ff3c7b, #ff0050);
  box-shadow: 0 0 10px #ff3c7b, 0 0 20px #ff0050, 0 0 30px #ff0050;
  background: linear-gradient(to bottom, #d86dd8, #b451a5);
  box-shadow: 0 0 6px #d86dd8, 0 0 12px #b451a5, 0 0 18px #b451a5;
}

.board_card.envolved::before {
  background: linear-gradient(to bottom, #7f5eff, #4ae4ff);
  box-shadow: 0 0 10px #7f5eff, 0 0 20px #4ae4ff, 0 0 30px #4ae4ff;
  background: linear-gradient(to bottom, #5ee7df, #b490ca);
  box-shadow: 0 0 6px #5ee7df, 0 0 12px #b490ca, 0 0 18px #b490ca;
}
