.container {
  padding: 100px 70px;
  min-height: 100vh;
  width: 100%;
  /* display: flex; */
}

.img_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boardName {
  text-align: center;
  font-size: 50px;
  border: var(--lilac-border);
  padding: 15px;
  border-radius: var(--border-radius-main);
}

.cards_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards_section > p {
  font-family: "Caveat", sans-serif;
  font-size: var(--main-font-size);
  color: var(--lilac-color);
  text-align: center;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: fit-content;
}

.img {
  width: 500px;
  margin: auto;
}
