.memberCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  background-color: var(--main-color);
  padding: 15px 40px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--main-trans);

  &:hover {
    background-color: var(--secondary-color);
  }
}

.deleteIcon {
  color: orangered;
  transition: var(--main-trans);

  &:hover {
    color: rgb(255, 155, 119);
    transform: scale(1.2);
  }
}

.left {
  display: flex;
  gap: 15px;
}

.modal {
  padding: 30px;
  color: var(--white);

  p {
    margin-bottom: 15px;
  }

  button:first-child {
    padding: 0.75em 1.5em;
    border-radius: var(--border-radius-main);
    font-size: 0.938em;
    border: none;
    width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.125em;
    background: transparent;
    color: var(--lilac-color);
    cursor: pointer;
  }

  button:last-child {
    position: relative;
    padding: 0.75em 1.5em;
    border-radius: var(--border-radius-main);
    border: 2px solid var(--lilac-color);
    font-size: 0.938em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.125em;
    background: transparent;
    color: var(--lilac-color);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.3s ease-in-out;
    width: 50%;

    &:hover {
      background: var(--transparent);
      box-shadow: 0 0 20px 5px var(--lilac-color);
      color: #ffffff;
    }
  }
}
