.memberCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  background-color: var(--main-color);
  padding: 15px 40px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--main-trans);

  &:hover {
    background-color: var(--secondary-color);
  }
}

.deleteIcon {
    color: orangered;
    transition: var(--main-trans);

    &:hover {
        color: rgb(255, 155, 119);
        transform: scale(1.2);
    }
}

.left {
    display: flex;
    gap: 15px
}