.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: flex-start;
  box-shadow: var(--shadow);
  background-color: var(--transperant);
  padding: 20px;
  border-radius: var(--border-radius-main);
  border: var(--lilac-border);
  cursor: pointer !important;
}

.icon {
  align-self: flex-end;
}

.cardFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.avatar {
  padding: 10px;
  border-radius: 100%;
  background-color: var(--transperant);
  box-shadow: var(--shadow);
}
