.taskContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  box-shadow: var(--shadow);
  background-color: var(--transperant);
  border-radius: var(--border-radius-main);
  border: var(--lilac-border);
  /* cursor: pointer !important; */
  cursor: grab;
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;
}

.icon {
  align-self: flex-end;
}

.cardFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
}

.avatar {
  padding: 10px;
  border-radius: 100%;
  background-color: var(--transperant);
  box-shadow: var(--shadow);
}

.dragging {
  box-shadow: 0 4px 12px var(--shadow-color, rgba(162, 89, 255, 0.15));
  background-color: var(--lilac-color, #6c2eb7); /* Use your dark purple */
  color: #fff;
  /* Add a slight scale for feedback */
  transform: scale(1.03);
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s, transform 0.2s;
}

.deleteIcon {
  cursor: pointer;
  transition: var(--main-trans);

  &:hover {
    color: rgb(255, 155, 119);
    transform: scale(1.2);
  }
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  padding-bottom: 15px;
}

h3 {
  width: 100%;
  padding-inline: 20px;
  padding-bottom: 15px;
}