@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
.landing_page {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.landing_content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.landing_page .section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.landing_page .typingText {
  /* font-family: "Ancizar Serif", serif; */
  font-family: "Mona Sans", sans-serif;
  font-size: 40px;
  width: 380px;
}

.landing_content .typingText strong:first-child {
  color: rgb(80, 62, 118);
}

.landing_content .typingText strong:last-child {
  color: var(--lilac-color);
}

.cards_section {
  margin: 20px;
  width: fit-contents;
}

.cards_section .card {
  margin: 20px 0;
}

.cards_section > p {
  width: fit-content;
  color: rgb(80, 62, 118);
}

.landing_page button {
  position: relative;
  top: 5px;
  background-color: var(--transparent);
  color: var(--base-color);
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-main);
  border: var(--lilac-border);
  margin: 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.landing_page button .icon {
  color: var(--base-color);
  transition: 0.4s;
}

[dir="ltr"] .landing_page button .icon {
  margin-left: 10px;
}
[dir="rtl"] .landing_page button .icon {
  margin-right: 10px;
}

.landing_page button:hover .icon {
  transform: translateX(5px);
  animation: arrow-move 0.8s infinite;
}

@keyframes arrow-move {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.logo {
  font-family: "Caveat", sans-serif;
  font-size: 60px;
  color: var(--lilac-color);
  font-weight: bold;
}

.boardName {
  font-size: 30px;
  font-weight: bold;
}
