.progressCard {
  border-radius: var(--border-radius-main);
  background-image: var(--card-linear-gradient);
  padding: var(--section-padding);
  cursor: pointer;
  transition: var(--main-trans);
  flex: 1;

  .progressCardTitle {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;

    span {
      display: inline-block;
      margin-right: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }

  &.green .progressCardTitle {
    span {
      background-color: green;
    }
  }

  &.blue .progressCardTitle {
    span {
      background-color: blue;
    }
  }

  &.red .progressCardTitle {
    span {
      background-color: red;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
  }

  @media (max-width: 992px) {
    padding: 30px;
    .progressCardTitle {
      font-size: 18px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    padding: 20px;
    .progressCardTitle {
      font-size: 16px;
      margin-top: 20px;
    }
    
  }
}

