.layout_continer {
  display: flex;
}

.sidebar {
  /* grid-area: 1 / 1 / -1 / 2; */
  /* background-color: green; */
  border-radius: var(--border-radius-main);
  width: fit-content;
  margin-top: 100px;
  margin-right: 8px;
  padding-bottom: 30px;
  padding-left: 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100dvh - 100px);
  z-index: 1000;
}

.outlit_container {
  margin-left: 300px;
  width: 100%;

  @media (max-width: 992px) {
    margin-left: 100px;
  }
}
