.modal {
  margin: auto;
  min-width: 450px;
  height: fit-content;
  border-radius: var(--border-radius-main);
  background-color: var(--main-color);
  background-color: var(--transperant);
  background-color: rgba(9, 5, 22, 0.734);
  outline: none;
  border: var(--lilac-border);
  box-shadow: var(--shadow);
  animation: fade-slide-in-from-top 0.5s ease-in-out;
}

.widthGrow {
  width: 40%;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.532);
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .widthGrow {
    width: 58%;
  }
}
@media (max-width: 991px) {
  .widthGrow {
    width: 80%;
  }
}
