.tableContainer {
  width: 100%;
  margin: auto;
  background: linear-gradient(135deg, #00000000, #3b3b3b00, #8a2be2);
  padding: 20px;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--lilac-color);
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow);
  position: relative;
  overflow: auto;

  @media (max-width: 600px) {
      padding-inline: 0;
    }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius-main);
  padding-inline: var(--section-padding-sm);
  border-radius: var(--border);
}

.tableHead {
  background: var(--main-color);
}
.tableBodyRow :hover {
  background-color: rgba(9, 27, 47, 0.605);
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.tableHeadCell {
  color: #fff;
  padding: 15px;
  font-weight: bold;
  text-align: left;
}

.tableBodyRow {
  border-bottom: 5px solid #50474716;
  &:nth-child(even) {
    background-color: var(--main-color);
  }
  &:nth-child(odd) {
    background-color: var(--main-color);
  }
}

.tableBodyCell {
  padding: 15px;
  text-align: left;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--todo-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.table thead tr:first-child th:first-child {
  border-top-left-radius: var(--border-radius-main);
}
.table thead tr:first-child th:last-child {
  border-top-right-radius: var(--border-radius-main);
}
.tableBodyRow:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius-main);
}

.tableBodyRow:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius-main);
}
